<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Qoordi.net</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div id="loadingSpinner" style="display:none;">
        <div class="spinner"></div>
    </div>

    <table class="qoordinet_table">
        <thead>
            <tr>
                <!-- Table Headers -->
                <!-- Example: <th>Name</th><th>Age</th> -->
            </tr>
        </thead>
        <tbody>
            <!-- Data rows will be inserted here -->
        </tbody>
    </table>

    <script src="/static/common.js"></script>
    <script src="/static/selectTableCells.js" defer></script>
    <script src="/static/fetchAndDisplay.js"></script>
    <script>
        function scrollToBottom() {
            window.scrollTo(0, document.body.scrollHeight);
        }

        fetchAndDisplayData();
    </script>
</body>

</html>