<!DOCTYPE html>
<html class="page-multi-forms">

<head>
    <title>Actions</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body class="page-multi-forms">
    <div id="loadingSpinner" style="display:none;">
        <div class="spinner"></div>
    </div>

    <div>
        <h2>Delete Last Days</h2>
        <button onclick="deleteLast(this)">Delete 1 day</button>
    </div>

    <div class="form-container">
        <h2>Process CSV</h2>
        <form action="/save_into_database" enctype="multipart/form-data" method="POST">
            <input type="file" id="file-upload-0" name="csv_file" style="display: none;" onchange="revealFileName(this)"
                file-name-span-id="file-name-0">
            <label for="file-upload-0" class="file-upload-button">OPEN CSV FILE</label>
            <span id="file-name-0"></span>

            <button type="submit">Save into Database</button>
        </form>
    </div>

    <div class="form-container">
        <h2>(Re)Build Database</h2>
        <form id="build_database" action="/build_database" enctype="multipart/form-data" method="POST">
            <input type="file" id="file-upload-1" name="csv_file" style="display: none;" onchange="revealFileName(this)"
                file-name-span-id="file-name-1">
            <label for="file-upload-1" class="file-upload-button">OPEN CSV FILE</label>
            <span id="file-name-1"></span>

            <button id="build_database_submit" type="submit">(Re)Build</button>
        </form>
    </div>
</body>

</html>