<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Qoordi.net</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div id="loadingSpinner" style="display:none;">
        <div class="spinner"></div>
    </div>

    <table class="qoordinet_table">
        <thead>
            <tr>
                <!-- Table Headers -->
                <!-- Example: <th>Name</th><th>Age</th> -->
            </tr>
        </thead>
        <tbody>
            <!-- Data rows will be inserted here -->
        </tbody>
    </table>

    <script src="/static/common.js"></script>
    <script src="/static/selectTableCells.js" defer></script>
    <script>
        async function fetchAndDisplayData() {
            try {
                showSpinner()
                const response = await fetch('/activities');
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                const jsonData = await response.json(); // This is your array of dictionaries
                console.log(jsonData)
                

                const table = document.getElementsByClassName('qoordinet_table')[0].getElementsByTagName('tbody')[0];

                jsonData.forEach(item => {
                    const row = table.insertRow();

                    Object.values(item).forEach(text => {
                        const cell = row.insertCell();
                        
                        try {
                            const date = new Date(text);
                            
                            if (!isNaN(date.getTime())) {
                                const formattedDate = date.toLocaleDateString('en-US', {
                                    year: 'numeric',
                                    month: '2-digit',
                                    day: '2-digit'
                                });
                                cell.textContent = formattedDate;
                            } else {
                                cell.textContent = text;
                            }
                        } catch (error) {
                            cell.textContent = text;
                        }
                    });
                });
            } catch (error) {
                console.error('Fetch error:', error);
            } finally {
                hideSpinner()
            }
        }

        fetchAndDisplayData();

    </script>
</body>

</html>