<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TSV Table Display</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
<body>
    <table class="csv_table">
        <!-- <tr>
            <th>Date</th>
            <th>Account</th>
            <th>Status</th>
            <th>Availability</th>
            <th>Description</th>
            <th>Amount</th>
        </tr> -->
        {% for row in data %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <script src="/static/selectTableCells.js" defer></script>
</body>
</html>
