<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spreadsheet Data Processing</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style>
        body {
            margin: 5px;
            padding: 5px;
        }
    </style>
</head>
<body>
    <h2>Spreadsheet Data Processing</h2>
    <form action="/display" method="post">
        <label for="tab_separated">Paste Spreadsheet Cells Here:</label><br>
        <textarea id="tab_separated" name="tab_separated" rows="10" cols="50"></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
