<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paste Tab-separated values text</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style>
        body {
            margin: 4px;
            padding: 4px;
        }
    </style>
</head>
<body>
    <h2>Paste Tab-separated values text</h2>
    <form action="/display" method="post">
        <textarea id="tab_separated" name="tab_separated" rows="10" cols="50"></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
