<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Qoordi.net</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style>
        .container {
            height: 100vh;
            display: flex;
            flex-direction: row;
        }

        .content-area {
            flex: 1;
            overflow-y: scroll;
        }

        .vertical-area {
            flex: 0.25;
        }
    </style>
</head>

<body>
    <div id="loadingSpinner" style="display:none;">
        <div class="spinner"></div>
    </div>

    <div class="container">
        <div class="content-area">
            <table class="qoordinet_table">
                <thead>
                    <tr>
                        <!-- Table Headers -->
                        <!-- Example: <th>Name</th><th>Age</th> -->
                    </tr>
                </thead>
                <tbody>
                    <!-- Data rows will be inserted here -->
                </tbody>
            </table>
        </div>
        <div class="vertical-area">
            <div id="vertical-content"></div>
        </div>
    </div>

    <script src="/static/common.js"></script>
    <script src="/static/embedContent.js"></script>
    <script src="/static/fetchAndDisplay.js"></script>
    <script src="/static/deleteLast.js"></script>

    <script src="/static/selectTableCells.js"></script>

    <script>
        function scrollToBottom() {
            const contentArea = document.querySelector('.content-area');
            contentArea.scrollTop = contentArea.scrollHeight;
        }

        function revealFileName(inputElement) {
            var fileNameSpanId = inputElement.getAttribute('file-name-span-id')
            var fileNameSpan = document.getElementById(fileNameSpanId);

            if (inputElement.files && inputElement.files.length > 0) {
                fileNameSpan.textContent = inputElement.files[0].name;
            } else {
                fileNameSpan.textContent = '';
            }
        }

        embedContent('/actions', 'vertical-content')

        fetchAndDisplayData();
    </script>
</body>

</html>