<!DOCTYPE html>
<html class="page-multi-forms">
<head>
    <title>Process CSV</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body class="page-multi-forms">
    <div class="form-container">
    <h2>Process CSV</h2>
    <form action="/display_csv" enctype="multipart/form-data" method="post">
        <input type="hidden" name="shouldDisplayRaw" id="shouldDisplayRaw" value="false">
        
        <input type="file" id="file-upload" name="csv_file" style="display: none;" onchange="updateFileName()">
        <label for="file-upload" class="file-upload-button">OPEN CSV FILE</label>
        <span id="file-name"></span>
        <button type="submit" onclick="document.getElementById('shouldDisplayRaw').value='false';">Process Fidelity CSV</button>
        <button type="submit" onclick="document.getElementById('shouldDisplayRaw').value='true';">Display raw CSV</button>
    </form>
    </div>

    <div class="form-container">
    <h2>Paste TSV text</h2>
    <form action="/display_tsv" method="post">
        <textarea id="tab_separated" name="tab_separated" rows="5" cols="50"></textarea><br>
        <input type="submit" value="Submit">
    </form>
    </div>

    <script>
        function updateFileName() {
            var input = document.getElementById('file-upload');
            var fileName = document.getElementById('file-name');

            if (input.files && input.files.length > 0) {
                fileName.textContent = input.files[0].name;
            } else {
                fileName.textContent = '';
            }
        }
    </script>
</body>
</html>
