<!DOCTYPE html>
<html class="page-multi-forms">
<head>
    <title>Process CSV</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body class="page-multi-forms">
    <div class="form-container">
    <h2>Process CSV</h2>
    <form action="/display_csv" enctype="multipart/form-data" method="post">
        <input type="hidden" name="shouldDisplayRaw" id="shouldDisplayRaw" value="false">
        <input type="hidden" name="shouldSaveIntoDatabase" id="shouldSaveIntoDatabase" value="false">
        
        <input type="file" id="file-upload-0" name="csv_file" style="display: none;" onchange="updateFileName(this)" file-name-span-id="file-name-0">
        <label for="file-upload-0" class="file-upload-button">OPEN CSV FILE</label>
        <span id="file-name-0"></span>
        
        <button type="submit" onclick="document.getElementById('shouldDisplayRaw').value='false';">Process Fidelity CSV</button>
        <button type="submit" onclick="document.getElementById('shouldSaveIntoDatabase').value='true';">Save into Database</button>
        <button type="submit" onclick="document.getElementById('shouldDisplayRaw').value='true';">Display raw CSV</button>
    </form>
    </div>

    <div class="form-container">
    <h2>(Re)Build Database</h2>
    <form action="/build_database" enctype="multipart/form-data" method="post">
        
        <input type="file" id="file-upload-1" name="csv_file" style="display: none;" onchange="updateFileName(this)" file-name-span-id="file-name-1">
        <label for="file-upload-1" class="file-upload-button">OPEN CSV FILE</label>
        <span id="file-name-1"></span>

        <button type="submit">(Re)Build</button>
    </form>
    </div>

    <div class="form-container">
    <h2>Paste TSV text</h2>
    <form action="/display_tsv" method="post">
        <textarea id="tab_separated" name="tab_separated" rows="5" cols="50"></textarea><br>
        <input type="submit" value="Submit">
    </form>
    </div>

    <script>
        function updateFileName(inputElement) {
            var fileNameSpanId = inputElement.getAttribute('file-name-span-id')
            var fileNameSpan = document.getElementById(fileNameSpanId);

            if (inputElement.files && inputElement.files.length > 0) {
                fileNameSpan.textContent = inputElement.files[0].name;
            } else {
                fileNameSpan.textContent = '';
            }
        }
    </script>
</body>
</html>
