<!DOCTYPE html>
<html>
<head>
    <title>Upload CSV File</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style>
        body {
            margin: 4px;
            padding: 4px;
        }
    </style>
</head>
<body>
    <h2>Upload CSV File</h2>
    <form action="/display_csv/" enctype="multipart/form-data" method="post">
        <input type="hidden" name="shouldDisplayRaw" id="shouldDisplayRaw" value="false">
        
        <input name="csv_file" type="file"></br>
        <button type="submit" onclick="document.getElementById('shouldDisplayRaw').value='false';">Process Fidelity CSV</button></br>
        <button type="submit" onclick="document.getElementById('shouldDisplayRaw').value='true';">Display raw CSV</button>
    </form>
</body>
</html>
