body {
    font-family: Verdana, sans-serif;
    font-size: 8pt;
    margin: 0;
    padding: 0;
}
textarea, input, table, th, td {
    font-family: Verdana, sans-serif;
    font-size: 8pt;
}
table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
}
th, td {
    padding: 2px;
    text-align: right;
}

.csv_table table, th, td {
    text-align: left;
}
.csv_table th {
    font-weight: bold;
}
.csv_table td {
    font-weight: normal; 
}

.selected {
    background-color: lightsteelblue; /* Example styling for selected table columns */
}
